* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//! ANIMATIONS START
@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes bounce {
    50% {
        transform: translateY(-50%);
    }
}
@keyframes bounceDown {
    50% {
        transform: translate(-50%, 1rem);
    }
}
@keyframes zoom {
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes beat {
    10% {
        transform: translate(-50%, -50%) scale(1.3);
    }
    25% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    35% {
        transform: translate(-50%, -50%) scale(1.4);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes spin {
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
//! ANIMATIONS OVER
//! ******************************************************************************************************************************/
//! MIXINS START
@mixin flex($jc, $ai) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}
@mixin flexDirection($dir, $jc, $ai) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $ai;
}
@mixin shadow($color) {
    text-shadow: 53px 5px 0.5rem $color, -5px -5px 0.5rem $color;
}
//!MIXINS OVER
//! ******************************************************************************************************************************/

:root {
    //!GENERAL COLORS START
    --midGray: hsl(0, 0%, 65%);

    --darkGray: hsl(0, 0%, 30%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(100, 100%, 100%);

    --blackOff: hsl(0, 0%, 15%);
    --whiteOff: hsl(0, 0%, 85%);
    --backgroundContrast: hsla(0, 0%, 50%, 0.9);
    --boxShadowB: 0 -5px 1rem hsla(0, 0%, 80%, 0.25);
    --boxShadowT: 0 5px 1rem hsla(0, 0%, 80%, 0.25);

    //!GENERAL COLORS OVER
    //! ******************************************************************************************************************************/

    //!FONTS START
    --titanimFont: 'Titillium Web', sans-serif;
    //!FONTS OVER
    //! ******************************************************************************************************************************/
    //!Z INDEX COUNT--START
    --zIndexStart: 1;
    --zIndexHover: 5;
    --zIndexNav: 10;
    --zIndexMenu: 15;
    --zIndexTooltip: 20;
    --zIndexFull: 25;
    //!Z INDEX COUNT-- OVER
    //! FONT SIZES--START
    --fontSizeS: 1.2rem;
    --fontSizeM: 1.5rem;
    --fontSizeX: 1.8rem;
    --fontSizeXXL: 2rem;
    //! FONT SIZES--OVER
    //! *********************************************************************************************************************** *//
    //! FONT WEIGHT--START
    --fontWeightN: 400;
    --fontWeightB: 600;
    --fontWeightBB: 800;

    //! FONT WEIGHT--OVER
    //! *********************************************************************************************************************** *//
    //!GENERAL START
    --pushTtansition: transform 1000ms ease;
    --border: solid 0.2rem;
    --borderMenu: solid 0.3rem;
    --borderRadius: 0.25rem;
    --navbarHeightFixed: 6rem;
    --navbarHeight: 10rem;
    --widthClamp: clamp(200px, 1500px, 90%);
    --cardWidth: clamp(280px, 30rem, 80%);
    --fullscreenFixedHeight: calc(100vh - var(--navbarHeightFixed));
    --transitionBtn: all 250ms ease;
    --transitionFast: all 500ms ease;
    --transitionMid: all 750ms ease;
    --transitionSlow: all 1000ms ease;
    --fontSize: 14px;
    --opacityBtn: 0.5;
    font-size: var(--fontSize);
    line-break: loose;
    font-family: var(--titanimFont);
    letter-spacing: 0.1rem;
    scroll-behavior: smooth;
    //!GENERAL OVER
    //! ******************************************************************************************************************************/
}
//! ******************************************************************************************************************************/

//!THEMES START
//^^ LIGHT THEME START
.light_theme {
    //!THEME COLORS START
    --firstColor: hsl(260, 85%, 25%);
    --firstColorHover: hsl(260, 85%, 15%);
    --secondColor: hsl(195, 85%, 60%);
    --textColor: hsl(0, 0%, 10%);
    --textContrastColor: hsl(0, 0%, 90%);
    --navbarColor: hsl(0, 0%, 95%);
    --tooltipColor: hsl(0, 0%, 5%);
    --bgColor: hsl(0, 0%, 90%);
    --bgOff: hsl(0, 0%, 80%);
    --bgModal: hsla(0, 0%, 90%, 0.75);
    --firstShadowColor: hsla(260, 84%, 45%, 0.75);
    --secondShadowColor: hsla(195, 85%, 80%, 0.75);
    --vueIconText: hsl(0, 0%, 20%);
    --shadow: hsla(0, 0%, 75%, 50%);
    //!THEME COLORS OVER
    //! ************************************************************************************************************************ *//
    //!SECTION BACKGROUNDS--START
    --bgHeaderSectionAbout: linear-gradient(var(--bgColor), transparent, var(--bgColor) 85%),
        url('../img/pagina/pexels-artem-beliaikin-1051747.jpg') center no-repeat fixed;
    --bgHeaderSectionServices: linear-gradient(var(--bgColor), transparent, var(--bgColor) 85%),
        url('../img/pagina/office-932926_1920.jpg') center no-repeat fixed;
    --bgHeaderSectionPortfolio: linear-gradient(var(--bgColor), transparent, var(--bgColor) 85%),
        url('../img/pagina/sunglasses-1284392_1920.jpg') center no-repeat fixed;

    --bgHeaderSectionSkills: linear-gradient(var(--bgColor), hsla(0, 0%, 100%, 0.5), var(--bgColor)),
        url('../img/pagina/pexels-julia-m-cameron-4144097.jpg') center no-repeat fixed;

    //!SECTION BACKGROUNDS--OVER
    //! ************************************************************************************************************************ *//
    //!THEME GENERALS START
    color: var(--textColor);
    --backgroundHero: linear-gradient(transparent, var(--bgColor) 75%), url('../img/backgrounds/day.jpg') center no-repeat fixed;
    //!THEME GENERALS OVER
    //! ************************************************************************************************************************ *//

    //!LOGOS SPECIFIC COLOR START

    #charly_y_sebas_icon_svg {
        .cls-1 {
            fill: #363760;
        }
        .cls-2 {
            fill: #1f1429;
        }
        .cls-3 {
            fill: #d3443f;
        }
        .cls-4 {
            fill: #57a8c9;
        }
        .cls-5 {
            fill: #e8bc2b;
        }
        .cls-6 {
            fill: #fff;
        }
    }

    #leiru_icon_svg {
        #brand,
        #brand-append {
            .cls-1 {
                fill: hsl(134, 74%, 36%);
            }
        }
        #text {
            fill: var(--textColor);
        }
    }
    //!LOGOS SPECIFIC COLOR OVER
    //! ************************************************************************************************************************ *//
}
//^^ LIGHT THEME OVER
//^^ *****************************************************************************************************************************/

//^^ DARK THEME START
.dark_theme {
    //!THEME COLORS START
    --firstColor: hsl(195, 100%, 60%);
    --firstColorHover: hsl(195, 100%, 40%);
    --secondColor: hsl(60, 85%, 60%);
    --textColor: hsl(0, 0%, 90%);
    --textContrastColor: hsl(0, 0%, 10%);
    --navbarColor: hsl(0, 0%, 5%);
    --tooltipColor: hsl(0, 0%, 95%);
    --bgColor: hsl(0, 0%, 10%);
    --bgOff: hsl(0, 0%, 20%);
    --bgModal: hsla(0, 0%, 10%, 0.75);
    --shadow: hsla(0, 0%, 75%, 50%);
    --firstShadowColor: hsla(195, 100%, 80%, 0.75);
    --secondShadowColor: hsla(60, 85%, 80%, 0.75);
    --vueIconText: hsl(0, 0%, 80%);
    //!THEME COLORS OVER
    //! ************************************************************************************************************************ *//

    //!THEME GENERALS START
    color: var(--textColor);
    --backgroundHero: linear-gradient(transparent, var(--bgColor) 90%), url('../img/backgrounds/night.jpg') center no-repeat fixed;
    //!THEME GENERALS OVER
    //! *********************************************************************************************************/
    //!SECTION BACKGROUNDS--START
    --bgHeaderSectionAbout: linear-gradient(var(--bgColor) 10%, transparent, var(--bgColor) 90%),
        url('../img/pagina/graffiti-background-1554703550MY5.jpg') center no-repeat fixed;
    --bgHeaderSectionServices: linear-gradient(var(--bgColor) 10%, transparent, var(--bgColor) 90%),
        url('../img/pagina/pexels-ovan-57690.jpg') center no-repeat fixed;
    --bgHeaderSectionPortfolio: linear-gradient(var(--bgColor) 10%, transparent, var(--bgColor) 90%),
        url('../img/pagina/workspace-1280538_1920.jpg') center no-repeat fixed;

    --bgHeaderSectionSkills: linear-gradient(var(--bgColor) 10%, hsla(0, 0%, 0%, 0.5), var(--bgColor) 90%),
        url('../img/pagina/tools-1083796_1920.jpg') center no-repeat fixed;
    //!SECTION BACKGROUNDS--OVER
    //! ************************************************************************************************************************ *//

    //!LOGOS SPECIFIC COLOR START
    #charly_y_sebas_icon_svg {
        .cls-1 {
            fill: #363760;
        }
        .cls-2 {
            fill: #fff;
        }
        .cls-3 {
            fill: #d3443f;
        }
        .cls-4 {
            fill: #57a8c9;
        }
        .cls-5 {
            fill: #e8bc2b;
        }
        .cls-6 {
            fill: #5b5b8c;
        }
    }
    #leiru_icon_svg {
        #brand,
        #brand-append {
            .cls-1 {
                fill: var(--textColor);
            }
        }
    }

    //!LOGOS SPECIFIC COLOR OVER
    //! ************************************************************************************************************************ *//
}
//^^DARK THEME OVER
//^^ *****************************************************************************************************************************/
//!THEMES OVER
//! ******************************************************************************************************************************/

body {
    position: relative;
    background: var(--bgColor);
    scroll-behavior: smooth;
    overflow-x: hidden;

    //^^GENERAL ICONS COLORS--START

    .close_icon_svg,
    .theme_icon_svg {
        .cls-1 {
            fill: var(--firstColor);
        }
    }
    .close_icon_svg {
        transform: scale(0.7);
    }
    #coffee_mug_icon_svg {
        .cls-1 {
            fill: #999;
        }
        .cls-2 {
            fill: #f2f2f2;
        }
        .cls-3 {
            fill: #f2f2f2;
        }
        .cls-4 {
            fill: #42210b;
        }
        .cls-5 {
            fill: #c69c6d;
        }
    }
    #conection_icon_svg {
        .cls-1,
        .cls-2 {
            fill: var(--firstColor);
        }
        .cls-2 {
            fill-rule: evenodd;
        }
    }
    .nav_menu_icon_svg {
        .cls-1 {
            fill: var(--textColor);
        }
    }
    //^^GENERAL ICONS COLORS--OVER
    //^^CLIENTS LOGO COLORS--START
    #impulso_icon_svg {
        .cls-1 {
            fill: #c01918;
        }
        .cls-2 {
            fill: var(--textColor);
        }
    }
    #verona_icon_svg {
        .cls-1 {
            fill: hsl(53, 84%, 38%);
        }
        .cls-2 {
            fill: var(--textColor);
        }
        .cls-3 {
            fill: hsl(357, 91%, 45%);
        }
        .cls-4 {
            fill: #ffffff;
        }
    }
    #gorgona_icon_svg {
        .cls-1,
        .cls-2 {
            fill: hsl(32, 55%, 66%);
        }
        .cls-2 {
            fill-rule: evenodd;
        }
    }
    #bucefalos_icon_svg {
        .cls-1 {
            fill: var(--textColor);
        }
        .cls-2 {
            fill: #b77e0b;
        }
    }
    #krazy_icon_svg {
        .cls-1 {
            fill: #e10b17;
        }
        .cls-2 {
            fill: #fff;
        }
        .cls-3 {
            fill: #000;
        }
        .cls-4 {
            fill: var(--textColor);
        }
    }
    #camaleonica_icon_svg {
        height: 100%;
        width: auto;
        .cls-1 {
            fill: #633188;
        }
        .cls-2 {
            fill: #d1709b;
        }
        .cls-3 {
            fill: #f3a7c6;
        }
        .cls-4 {
            fill: #6ec6d8;
        }
        .cls-5 {
            fill: #fff;
        }
        .cls-6 {
            fill: #000001;
        }
    }
    #leiru_icon_svg {
        #polygon {
            fill: hsl(134, 74%, 36%);
        }
        #text {
            .cls-2 {
                fill: #fff;
            }
        }
    }
    //^^CLIENTS LOGO COLORS--OVER
    //^^DESIGN ICONS COLORS-- START
    #illustrator_icon_svg {
        .cls-1 {
            fill: #2c0d0e;
        }
        .cls-2 {
            fill: #f39719;
        }
    }
    #photoshop_icon_svg {
        .cls-1 {
            fill: #132034;
        }
        .cls-2 {
            fill: #529fd7;
        }
    }
    #inDesign_icon_svg {
        .cls-1 {
            fill: #450c21;
        }
        .cls-2 {
            fill: #e73b68;
        }
    }
    #premier_icon_svg {
        .cls-1 {
            fill: #21244d;
        }
        .cls-2 {
            fill: #9193c8;
        }
    }
    #xd_icon_svg {
        .cls-1 {
            fill: #431238;
        }
        .cls-2 {
            fill: #be74ad;
        }
    }
    #figma_icon_svg {
        .cls-1 {
            fill: #2aa3d3;
        }
        .cls-2 {
            fill: #2fa542;
        }
        .cls-3 {
            fill: #f66;
        }
        .cls-4 {
            fill: #dd3636;
        }
        .cls-5 {
            fill: #9028db;
        }
    }
    //^^DESIGN ICONS COLORS-- OVER
    //^^TECH ICONS COLORS--START
    #html_icon_svg {
        .cls-1 {
            fill: #e34d27;
        }
        .cls-2 {
            fill: #eb652b;
        }
        .cls-3 {
            fill: #fff;
        }
        .cls-4 {
            fill: #cdcdcc;
        }
        .cls-5 {
            fill: var(--textContrastColor);
        }
    }
    #css_icon_svg {
        .cls-1 {
            fill: #2073b5;
        }
        .cls-2 {
            fill: #51a2d9;
        }
        .cls-3 {
            fill: #fff;
        }
        .cls-4 {
            fill: #cdcdcc;
        }
        .cls-5 {
            fill: var(--textContrastColor);
        }
    }
    #js_icon_svg {
        transform: scale(0.7);
        .cls-1 {
            fill: #f7df1e;
        }
        .cls-2 {
            fill: #000;
        }
    }
    #gitHub_icon_svg {
        .cls-1 {
            fill: var(--firstColor);
        }
        .cls-2 {
            fill: var(--firstColor);
            fill-rule: evenodd;
        }
    }
    #sass_icon_svg {
        .cls-1 {
            fill: #cf649a;
        }
    }
    #vue_icon_svg {
        .cls-1 {
            fill: #41b883;
        }
        .cls-2 {
            fill: #41b883;
        }
        .cls-3 {
            fill: #35495e;
        }
    }
    #node_icon_svg {
        .cls-1 {
            fill: #689f63;
        }
        .cls-2,
        .cls-4 {
            fill: #689f63;
        }
        .cls-3 {
            fill: var(--vueIconText);
        }
        .cls-3,
        .cls-4 {
            fill-rule: evenodd;
        }
    }

    //^^TECH ICONS COLORS--OVER
    //^^SOCIAL ICONS COLORS-- START
    #fb_icon_svg,
    #behance_icon_svg,
    #contact_icon_svg {
        .cls-1 {
            fill: var(--firstColor);
        }
    }
    #contact_icon_svg {
        transform: scale(0.8);
    }
    //^^SOCIAL ICONS COLORS-- OVER
}
//!SCROLL STYLE START
//^
scrollbar-button,
::-webkit-scrollbar-button {
    border: solid 0.1rem var(--firstColor);
}
//^ width
::-webkit-scrollbar {
    width: 20px;
}
//^ Track
::-webkit-scrollbar-track {
    background: var(--navbarColor);
}
//^ Handle
::-webkit-scrollbar-thumb {
    background: var(--firstColor);
}
//^ Handle on hover
::-webkit-scrollbar-thumb:hover {
    filter: grayscale(1);
}
//!SCROLL STYLE OVER
//! ***************************************************************************************************/

//!GENERALS START
img {
    width: 100%;
}
h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
}
p {
    font-size: var(--fontSizeS);

    font-weight: var(--fontWeightL);
}
h1 {
    color: var(--firstColor);
    font-size: var(--fontSizeX);
}
h2 {
    font-size: var(--fontSizeM);
}
h3 {
    font-size: var(--fontSizeS);
}
a {
    background-color: transparent;
    text-decoration: none;
}
a:visited,
a:focus,
a:active {
    color: unset;
}
ul {
    list-style: none;
}
.tooltip {
    position: absolute;
    top: calc(100% + 1rem);
    left: 50%;
    background: var(--tooltipColor);
    padding: 1rem 0 2rem;
    border-radius: var(--borderRadius);
    z-index: var(--zIndexTooltip);
    transition: var(--transitionMid);
    width: clamp(200px, 300px, 80%);
    pointer-events: none;
    //*border: solid 2px var(--firstColor);
    h1 {
        font-size: var(--fontSizeM);
        color: var(--midGray);
    }
    p {
        color: var(--textContrastColor);
        font-size: var(--fontSizeS);
    }
}
.tooltip_hidden {
    opacity: 0;
    transform: translateY(50%);
    z-index: var(--zIndexTooltip);
    transition: var(--transitionMid);
}
.loader_container {
    position: absolute;
    left: 0;
    top: 0;
    @include flexDirection(column, center, center);
    height: 100%;
    width: 100%;
    .spinner_container {
        transition: var(--transitionSlow);
        .loading_spinner {
            display: inline-block;
            border-radius: 50%;
            border-bottom: dotted 0.5rem var(--firstColor);
            width: 5rem;
            height: 5rem;
            animation: spin 2s ease infinite forwards;
        }
        .loading_text {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: var(--fontWeightN);
            font-size: 1.5rem;
        }
    }
}
HEADER {
    height: calc(100vh - var(--navbarHeight));
}
SECTION {
    min-height: var(--fullscreenFixedHeight);
    margin-bottom: 6rem;
}
.section {
    width: 100%;
}
.section_padding {
    padding: 6rem 0;
}
.section_content {
    height: calc(100vh - var(--navbarHeightFixed));
    min-width: 100%;
    .header_section {
        height: 100%;
        width: 100%;
        background-size: cover !important;
    }
}
.title_section {
    @include flex(center, center);
    text-align: center;
    width: 100%;
    height: auto;
    margin: 2rem 0 2rem;
    -webkit-text-stroke: 1px var(--firstColor);
    color: transparent;
    font-size: clamp(2.5rem, calc(1.5rem + 1.5vw), 4rem);
}
.subtitle_section {
    @include flex(center, center);
    text-align: center;
    width: 100%;
    margin: 4rem 0 2rem;
    color: var(--firstColor);
    font-weight: var(--fontWeightN);
    font-size: clamp(2rem, calc(1.5rem + 0.5vw), 2.2rem);
}
.title_subsection {
    @include flex(center, center);
    text-align: center;
    width: 100%;
    margin: 1rem 0 0.5rem;
    color: var(--textColor);
    font-weight: var(--fontWeightN);
    font-size: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.8rem);
}
BUTTON {
    padding: 0;
    background: none;
    border: none;
}
//!GENERALS OVER
//! ***************************************************************************************************/
//! BUTONS START
//^^BASIC BUTTON START
.btn {
    color: var(--textColor);
    padding: 1rem 2rem;
    border: var(--border) + var(--firstColor);
    border-radius: var(--borderRadius);
    text-align: center;
    cursor: pointer;
    transition: var(--transitionBtn);
    h3 {
        font-weight: var(--fontWeightN);
        font-size: var(--fontSizeS);
    }
}
.btn:hover {
    color: var(--textContrastColor);
    background: var(--firstColorHover);
}
.btn:focus,
.btn:active {
    color: var(--textContrastColor);
    background: var(--firstColor);
}
.more_btn {
    width: 100%;
    background: var(--firstColorHover);
    color: var(--textContrastColor);
    border-color: var(--firstColorHover);
    font-weight: var(--fontWeightB);
    font-size: var(--fontSizeS);
}
.more_btn:hover,
.more_btn:focus,
.more_btn:active {
    border-color: var(--firstColor);
    background: var(--firstColor);
}
//^^ BASIC BUTTON OVER
//^^CLOSE BTN OVER
.btn_theme,
.close_btn {
    @include flex(center, center);
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    transition: var(--transitionBtn);
}
//^^CLOSE BTN OVER
//^^BTNS SECTION ACTIVE--START
.btn_section_active {
    background: var(--firstColor);
    color: var(--textContrastColor);
    .btn_lebel {
        color: var(--textContrastColor);
    }
    .nav_menu_icon_svg {
        .cls-1 {
            fill: var(--textContrastColor);
        }
    }
}
//^^BTNS SECTION ACTIVE-- OVER
//^ *************************************************************************************************** *//
//^^BTN LINK--START
.btn_link {
    width: fit-content;
    padding: 1rem;
    font-size: var(--fontSizeS);
    font-weight: var(--fontWeightN);
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}

.btn_link:focus {
    border: dotted 1px white;
}
//^^BTN LINK--OVER
//^^ *************************************************************************************************** *//
//!BUTTONS OVER
//! ***************************************************************************************************/
//!MODAL START
.modal {
    @include flexDirection(column, flex-start, flex-start);
    position: fixed;
    top: 2rem;
    left: 50%;
    height: fit-content;
    z-index: var(--zIndexFull);
    background: var(--navbarColor);
    width: clamp(300px, 800px, 90%);
    padding: 1rem 1.5rem 2rem;
    .close_btn {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0.5rem;
    }
    .close_btn:hover,
    .close_btn:focus,
    .close_btn:active {
        background: var(--firstColor);

        .close_icon_svg {
            .cls-1 {
                fill: var(--textContrastColor);
            }
        }
    }
    .modal_info {
        width: 100%;
        height: fit-content;
        margin-bottom: 1rem;
    }
    .modal_form {
        width: 100%;
        height: auto;
        LABEL {
            @include flex(flex-start, center);
            display: block;
            width: 100%;
            padding: 0.5rem 0;
            font-weight: var(--fontWeightB);
            font-size: var(--fontSizeS);
        }
        INPUT {
            display: block;
            width: 100%;
            border: none;
            padding: 0.5rem 1rem;
            margin-bottom: 1rem;
            background: var(--bgColor);
        }
        INPUT:focus {
            outline: none;
            background: var(--bgOff);
        }
        INPUT::placeholder {
            color: var(--textColor);
        }
        BUTTON {
            width: 100%;
        }
    }
}
//! MODAL OVER
//! *********************************************************************************************** *//
//*#storage_alert_modal,
#contact_modal {
    display: none;
}
//! STORAGE MODAL--START
#storage_alert_modal {
    z-index: var(--zIndexFull);
    width: clamp(200px, 550px, 90%);
    .btn_container {
        @include flex(center, center);
        width: 100%;
        padding: 0.5rem 0;
        .btn_link {
            width: fit-content;
            padding: 1rem;
            color: var(--secondColor);
            font-size: var(--fontSizeS);
            font-weight: var(--fontWeightN);
            text-decoration: underline;
            text-align: center;
            cursor: pointer;
        }

        .btn_link:focus {
            border: dotted 1px white;
        }
    }
    .description_modal {
        font-size: var(--fontSizeS);
    }
}
//! STORAGE MODAL--OVER
//! ************************************************************************************************ *//
//! LEGAL MODAL--START
#legal_modal {
    max-height: 90vh;
    display: none;
    .modal_header {
        padding: 2rem 0;
    }
    .modal_info {
        overflow-y: scroll;
        scroll-behavior: smooth;
        .btn_container {
            margin-top: 2rem;
            width: 100%;
            @include flex(center, center);
        }
        .more_btn {
            width: var(--widthClamp);
        }
    }
}
//! LEGAL MODAL--OVER
//! ************************************************************************************************ *//

//! MENU SOCIAL--START
#menu_social_container {
    position: fixed;
    @include flexDirection(column, flex-start, center);
    gap: 1rem;
    top: 2rem;
    left: 2rem;
    height: auto;
    width: 3rem;
    z-index: var(--zIndexMenu);

    #contact_menu_btn {
        background: var(--navbarColor);
        border-radius: var(--borderRadius);
        padding: 0.75rem;
        width: 100%;
        height: auto;
        cursor: pointer;
        .social_icon_svg {
            pointer-events: none;
            transition: var(--transitionBtn);
        }
    }
    #contact_menu_btn:hover,
    #contact_menu_btn:focus {
        .social_icon_svg {
            transform: scale(1.2);
        }
    }
    #contact_menu_btn:active {
        background: var(--firstColor);
        .social_icon_svg {
            .cls-1 {
                fill: var(--textContrastColor);
            }
            .cls-2 {
                fill: var(--textContrastColor);
            }
        }
    }

    .menu_social_btns_container {
        height: fit-content;
        width: 3rem;
        height: 0;
        background: var(--navbarColor);
        border-radius: var(--borderRadius);
        overflow: hidden;
        opacity: 0;
        transition: var(--transitionMid);
    }
    A {
        height: 100%;
        width: auto;
    }

    .btn_menu_social {
        height: auto;
        width: 100%;
        padding: 0.75rem;
        cursor: pointer;
        transition: var(--transitionBtn);
        .social_icon_svg {
            height: auto;
            width: 100%;
        }
    }
    .btn_menu_social:hover,
    .btn_menu_social:focus {
        transform: scale(1.2);
    }
    .btn_menu_social:active {
        background: var(--firstColor);
        .social_icon_svg {
            .cls-1 {
                fill: var(--textContrastColor);
            }
        }
    }
}
//! MENU SOCIAL--OVER
//! ***************************************************************************** *//
//! WHATSAPP BTN--START
#wa_btn_container {
    position: fixed;
    @include flexDirection(column, flex-start, center);
    top: 2rem;
    right: 2rem;
    height: fit-content;
    width: fit-content;
    z-index: var(--zIndexMenu);
    .wa_btn_txt {
        background: var(--navbarColor);
        color: var(--textColor);
        font-size: var(--fontSizeS);
        font-weight: var(--fontWeightB);
        animation: bounce 1s ease infinite;
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
    #wa_btn {
        @include flex(center, center);
        height: 3rem;
        width: 3rem;
        transition: var(--transitionBtn);
        cursor: pointer;
        #wa_icon_svg {
            width: 100%;
            height: auto;
            pointer-events: none;
            .cls-1 {
                fill: #fff;
            }
            .cls-2 {
                fill: #38a935;
            }
        }

        &:hover {
            transform: scale(1.2);
        }
    }
}
//! WHATSAPP BTN--OVER
//! ***************************************************************************** *//
//!MENU-- START
#menu_container {
    position: fixed;
    @include flexDirection(column, center, center);
    top: 0;
    left: 0;
    background: var(--navbarColor);
    width: 100%;
    height: auto;
    z-index: var(--zIndexMenu);
    transform: translateY(-100%);
    opacity: 0;
    transition: var(--transitionMid);
    .btn_menu {
        @include flex(center, center);
        width: 100%;
        height: auto;
        padding: 0 2rem;
        transition: var(--transitionBtn);
        color: var(--textColor);
        cursor: pointer;
        .btn_lebel {
            font-size: var(--fontSizeS);
            font-weight: var(--fontWeightN);
        }
    }
    .btn_menu_section {
        padding: 1rem 0;
        border-top: solid 0.25rem transparent;
        border-bottom: solid 0.25rem transparent;
    }

    .btn_menu_section:hover,
    .btn_menu_section:focus {
        border-color: var(--firstColor);
    }
    #extra_btns_container,
    #social_btns_container {
        @include flexDirection(row, space-between, center);
        width: var(--widthClamp);
    }
    #social_btns_container {
        height: 5rem;
        width: 100%;

        .btn_menu_social {
            height: 4rem;
            width: auto;
            padding: 1rem 0;
            .social_icon_svg {
                height: 100%;
                width: auto;
                transition: var(--transitionBtn);
            }
        }
        .btn_menu_social:hover,
        .btn_menu_social:focus {
            transform: scale(1.3);
        }
        .btn_menu_social:active {
            background: var(--firstColor);
            .social_icon_svg {
                .cls-1 {
                    fill: var(--textContrastColor);
                }
                .cls-2 {
                    fill: var(--firstColor);
                }
            }
        }
    }
    #social_btns_container > * {
        flex-basis: 100%;
    }
    #extra_btns_container {
        height: auto;
        .extra_btn_menu {
            @include flex(center, center);
            transition: var(--transitionBtn);
            cursor: pointer;
        }
        .extra_btn_menu:hover,
        .extra_btn_menu:focus,
        .extra_btn_menu_active {
            background: var(--firstColor);
            .close_icon_svg,
            .theme_icon_svg {
                .cls-1 {
                    fill: var(--textContrastColor);
                }
            }
        }
    }
    #sections_btns_container {
        @include flexDirection(column, flex-start, center);
        width: 100%;
    }
}
//!MENU-- OVER
//! ****************************************************************************** *//
//!NAV-- START
.nav {
    position: sticky;
    @include flex(center, center);
    top: 0;
    left: 0;
    height: var(--navbarHeight);
    width: 100%;
    background: var(--navbarColor);
    z-index: var(--zIndexNav);
    transition: var(--transitionMid);
    .nav_content {
        height: 100%;
        width: var(--widthClamp);

        @include flexDirection(row, space-between, center);
        #logo_nav_btn {
            @include flex(center, center);
            height: 100%;
            padding: 0 0.5rem;
            cursor: pointer;

            transition: var(--transitionMid);
            //*LOGO COLORS START
            #johnK_icon_svg {
                width: auto;

                height: 100%;
                cursor: pointer;
                .cls-1 {
                    fill: var(--secondColor);
                }
                .cls-2 {
                    fill: var(--firstColor);
                }
                .cls-3 {
                    fill: var(--midGray);
                }
            }
            //*LOGO LOGO OVER
        }
        #logo_nav_btn:hover,
        #logo_nav_btn:focus,
        #logo_nav_btn:active {
            animation: zoom 1s ease;
        }
        #btn_menu_container {
            @include flexDirection(column, center, center);
            display: none;
            width: 7rem;
            height: 100%;
            color: var(--textColor);
            cursor: pointer;
            .btn_menu_text {
                font-size: var(--fontSizeS);
                font-weight: var(--fontWeightB);
            }
            #menu_btn {
                @include flexDirection(column, space-around, center);
                width: 3rem;
                height: 3rem;
                border: var(--borderMenu) + var(--midGray);

                .bar_btn {
                    height: 0.2rem;
                    background: var(--firstColor);
                    transition: var(--transitionSlow);
                }

                #center_bar_btn {
                    width: 5rem;
                }
                #top_bar_btn,
                #bottom_bar_btn {
                    width: 4rem;
                }
            }
        }
        #btn_menu_container:hover,
        #btn_menu_container:focus,
        #btn_menu_container:active {
            #menu_btn {
                #top_bar_btn,
                #center_bar_btn,
                #bottom_bar_btn {
                    width: 2rem;
                }

                transition: var(--transitionBtn);
                transform: scale(0.9);
            }
        }
        #nav_sections_btns_container {
            @include flexDirection(row, space-between, center);
            flex-wrap: wrap;
            width: auto;
            height: 100%;
            .btn_nav {
                @include flex(center, center);
                height: 100%;
                width: auto;
                padding: 0 2rem;
                border-top: solid 5px transparent;
                color: var(--textColor);
                .btn_lebel {
                    font-size: var(--fontSizeS);
                    font-weight: var(--fontWeightN);
                }
                .nav_menu_icon_svg {
                    height: 100%;
                    width: 3rem;
                    padding: 0 0.5rem;
                }
                .theme_icon_svg {
                    height: 2rem;
                    width: 2rem;
                }
            }
            .btn_nav:hover,
            .btn_nav:focus,
            .btn_nav:active {
                border-color: var(--firstColor);
                background: var(--firstColorHover);
                .nav_menu_icon_svg {
                    .cls-1 {
                        fill: var(--textContrastColor);
                    }
                }
                .btn_lebel {
                    color: var(--textContrastColor);
                }
                .theme_icon_svg {
                    .cls-1 {
                        fill: var(--textContrastColor);
                    }
                }
            }
        }
    }
}
//! NAV-- OVER
//! ****************************************************************************************** *//
//! HERO SECTION-- START

#hero_section {
    @include flex(center, center);
    position: relative;
    background: var(--backgroundHero);
    background-size: cover;
    #hero_content {
        @include flexDirection(column, center, center);
        user-select: none;
        width: var(--widthClamp);
        #hero_title {
            display: flex;
            flex-direction: column;
            .title_salute {
                font-size: clamp(2rem, calc(1.5rem + 3vw), 4rem);
                color: var(--secondColor);
                margin: 0;
            }
            .title_word {
                font-size: clamp(2rem, calc(1.5rem + 3vw), 4rem);
                margin: 0;
                //*line-height: calc(var(--fontSize) + (var(--fontSize) * 3));
                text-align: center;
                color: var(--firstColor);
            }
            #title_effect {
                animation: blink 500ms 0s infinite alternate;
                color: var(--secondColor);
            }
        }
        #hero_subtitle {
            color: var(--textColor);
            font-size: clamp(1rem, calc(1rem + 0.5vw), 3rem);
            //*text-align: center;
            .accent_text {
                color: var(--secondColor);
            }
        }

        #hero_btns_container {
            @include flexDirection(row, center, center);
            gap: 2.5rem;
            margin-top: 2rem;
            width: 100%;
            height: auto;
            .btn {
                width: 100%;
            }
        }
        #hero_btns_container > * {
            flex-basis: 100%;
        }
        .btn_down {
            position: absolute;
            @include flexDirection(column, center, center);
            bottom: 2rem;
            left: 50%;
            width: 8rem;
            height: 6rem;
            opacity: var(--opacityBtn);
            animation: bounceDown 1s ease infinite;
            transform: translateX(-50%);
            color: var(--textColor);
            cursor: pointer;
            transition: var(--transitionMid);
            #arrow_down_svg {
                margin-top: 0.5rem;
                width: 2rem;
                .cls-1 {
                    fill: var(--firstColor);
                    fill-rule: evenodd;
                }
            }
            a {
                height: 100%;
                width: 100%;
            }
        }
        .btn_down:hover,
        .btn_down:focus,
        .btn_down:active {
            opacity: 1;
            /*   box-shadow: none;
            filter: drop-shadow(0 0 0.5rem var(--backgroundContrast)); */
        }
    }
}
//! HERO SECTION-- OVER
//! *******************************************************************************************/
//!ABOUT SECTION-- START
#about_section {
    @include flexDirection(column, flex-start, center);
    #about_content {
        #header_section_about {
            background: var(--bgHeaderSectionAbout);
        }
    }
}
//!ABOUT SECTION-- OVER
//! ******************************************************************** *//
#services_section {
    @include flexDirection(column, flex-start, center);
    #services_content {
        #header_section_services {
            background: var(--bgHeaderSectionServices);
        }
    }
    .services_container {
        display: grid;
        width: var(--widthClamp);
        height: fit-content;

        .service_container {
            .service_card {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 30rem;
                svg {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    object-position: center;
                }
                .service_card_img {
                    width: 100%;
                    height: 100%;
                    IMG {
                        width: 100%;
                        height: 100%;

                        object-fit: cover;
                        object-position: center;
                    }
                }
                .service_card_info {
                    @include flexDirection(column, center, center);
                    width: 100%;
                    height: 100%;
                    .service_card_title,
                    .service_card_text {
                        padding: 2rem;
                        height: fit-content;
                        width: 100%;
                    }
                }
            }

            .service_card > * {
                flex-basis: 100%;
            }
            .service_card_left {
                flex-direction: row;
            }
            .service_card_right {
                flex-direction: row-reverse;
            }
        }
    }
    .services_container_one_column {
        grid-template-columns: 1fr;
        height: fit-content;
    }
    .services_container_two_columns {
        grid-template-columns: repeat(auto-fill, 280px);
        justify-content: center;
        height: fit-content;
    }
}
//!SERVICES SECTION-- OVER
//! ******************************************************************** *//

//!SKILLS SECTION-- START
#skills_section {
    @include flex(flex-start, center);
    #skills_content {
        #header_section_skills {
            position: relative;
            background: var(--bgHeaderSectionSkills);
            @include flexDirection(column, flex-start, center);
        }
    }
    .skills_containers {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include flexDirection(row, center, flex-start);
        width: var(--widthClamp);
        .skills_container {
            width: auto;
            .skills_icons_container {
                @include flexDirection(row, center, flex-start);
                flex-wrap: wrap;
                gap: 1rem;
                padding: 1rem 2rem;
            }
            .skills_icon_container {
                position: relative;
                @include flex(center, center);
                width: 5rem;
                height: 5rem;
                cursor: pointer;
                transform: all 200ms ease;
                #html_icon_svg {
                    .cls-5 {
                        fill: var(--textColor);
                    }
                }
                #css_icon_svg {
                    .cls-5 {
                        fill: var(--textColor);
                    }
                }
                #gitHub_icon_svg {
                    transform: scale(0.7);
                    .cls-1 {
                        fill: var(--textColor);
                    }
                }
            }
            .skills_icon_container:hover,
            .skills_icon_container:active,
            .skills_icon_container:focus {
                animation: zoom 1000ms ease-out;
            }
            #node_icon_container {
                width: 8rem;
            }
        }
    }
    .skills_containers > * {
        flex-basis: 100%;
    }
}
//!ABOUT SECTION-- OVER
//! ******************************************************************** *//
//!SERVICES SECTION-- START
//!PORTFOLIO SECTION-- START

#portfolio_section {
    @include flexDirection(column, flex-start, center);
    #portfolio_content {
        #header_section_portfolio {
            background: var(--bgHeaderSectionPortfolio);
        }
    }
    .cards_container {
        position: relative;
        @include flexDirection(row, center, center);
        flex-wrap: wrap;
        min-height: 30rem;
        width: 100%;
    }
}
//&TEMPLATE STYLE--START
.project_card {
    width: 30rem;
    height: 30rem;
    background: var(--firstColor);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: var(--transitionBtn);
    z-index: var(--zIndexStart);
    .project_info {
        @include flexDirection(column, center, center);
        opacity: 0;
        width: 100%;
        height: 100%;
        background: var(--navbarColor) 70%;
        padding: 2rem 2.5rem;
        transition: var(--transitionMid);

        .info_project_container {
            width: 100%;
            .title {
                width: 100%;
                text-align: center;
                padding-bottom: 1rem;
            }

            .btns_flag_project_container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                text-align: flex-start;
                column-gap: 0.3rem;
                row-gap: 0.5rem;
                margin: 0;
                padding: 1rem 0;
                border: solid 3px var(--textColor);
                border-radius: var(--borderRadius);
                width: 100%;
                text-align: center;
                legend {
                    font-size: var(--fontSizeM);
                    font-weight: var(--fontWeightB);
                }
            }
            .flags_title {
                margin-bottom: 0.5rem;
            }

            .margin_bottom {
                margin-bottom: 1rem;
            }
        }
    }
}
.flag_project_btn {
    position: relative;
    color: var(--textColor);
    font-weight: var(--fontWeightB);
}
.project_card:hover,
.project_card:active,
.project_card:focus {
    z-index: var(--zIndexHover);
    .project_info {
        opacity: 0.9;
    }
}
//!PROJECTS CONTAINER--START
.projects_container {
    @include flexDirection(column, flex-start, center);
    gap: 1rem;
    width: 100%;

    .title_project_search {
        color: var(--secondColor);
        font-size: var(--fontSizeM);
        text-align: center;
        padding: 0.5rem 0;
    }
    .project_btns_container {
        @include flexDirection(column, flex-start, center);
        width: 100%;
        height: 3rem;
    }
}

//!PROJECTS CONTAINER--OVER
//! ******************************************************************************************** *//

.selection_list {
    position: relative;
    @include flexDirection(column, flex-start, center);
    flex-wrap: wrap;
    text-align: center;
    font-size: var(--fontSizeM);
    color: var(--blackOff);
    width: var(--widthClamp);
    height: 3rem;
    width: fit-content;
    overflow: hidden;
    user-select: none;
    transition: var(--transitionFast);
    .option_list_btn_search {
        position: relative;
        @include flex(center, center);
        text-align: center;
        padding: 0.5rem 1rem;
        margin-bottom: 0.1rem;
        color: var(--textColor);
        background: var(--navbarColor);
        height: 3rem;
        width: 100%;
        cursor: pointer;
        .arrow_btn {
            @include flex(center, center);
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            height: 3rem;
            width: 3rem;
            padding: 0.5rem;
            pointer-events: none;
            .arrow_btn_svg {
                transition: transform 500ms ease;
                .cls-1 {
                    fill: var(--textColor);
                }
            }
        }
        &:hover {
            background: var(--firstColor);
            color: var(--textContrastColor);
            .arrow_btn_svg {
                .cls-1 {
                    fill: var(--textContrastColor);
                }
            }
        }
    }
}

.option_list_btn {
    @include flex(center, center);
    text-align: center;
    padding: 0.5rem 1rem;
    color: var(--textColor);
    background: var(--navbarColor);
    height: 3rem;
    width: 100%;
    z-index: var(--zIndexMenu);
    cursor: pointer;
    &:hover {
        background: var(--firstColor);
        color: var(--textContrastColor);
    }
    h3 {
        pointer-events: none;
    }
}
#search_project_btns_container {
    position: relative;
    z-index: var(--zIndexHover);
    #selection_list_type_of_projects {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        #selection_list_search_btn {
            border: solid 2px var(--firstColor);
        }
    }
}
//&TEMPLATE STYLE--OVER
//& ******************************************************************************************** *//

//!PORTFOLIO SECTION-- OVER
//! ******************************************************************** *//
//!CLIENTS SECTION-- START

#clients_section {
    position: relative;
    @include flexDirection(column, flex-start, center);
    .clients_container {
        @include flexDirection(row, center, center);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
        //*padding-bottom: 4rem;
        .client_logo_container {
            @include flex(center, center);
            padding: 1rem 1.5rem;
            height: 8rem;
            width: 12.5rem;
            filter: grayscale(1);
            transition: all 0.5s ease;
            .client_icon_svg {
                width: 100%;
                height: auto;
            }
        }
        .client_logo_container:hover,
        .client_logo_container:focus,
        .client_logo_container:active {
            position: relative;
            filter: grayscale(0);
            animation: zoom 1000ms ease-out;
        }
    }
}

//!CLIENTS SECTION-- OVER
//! ******************************************************************** *//
//!CONTACT SECTION--START

#contact_section {
    @include flex(flex-start, center);
    #contact_content {
        #header_section_contact {
            position: relative;
            background: var(--bgHeaderSectionSkills);
            @include flexDirection(column, flex-start, center);
        }
    }
    .form_container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include flexDirection(column, flex-start, flex-start);

        height: fit-content;
        background: var(--navbarColor);
        width: clamp(300px, 800px, 90%);
        padding: 1rem 1.5rem 2rem;
        .close_btn {
            position: absolute;
            right: 0;
            top: 0;
            padding: 0.5rem;
        }
        .close_btn:hover,
        .close_btn:focus,
        .close_btn:active {
            background: var(--firstColor);

            .close_icon_svg {
                .cls-1 {
                    fill: var(--textContrastColor);
                }
            }
        }
        .modal_info {
            width: 100%;
            height: fit-content;
            margin-bottom: 1rem;
        }
        .modal_form {
            width: 100%;
            height: auto;
            LABEL {
                @include flex(flex-start, center);
                display: block;
                width: 100%;
                padding: 0.5rem 0;
                font-weight: var(--fontWeightB);
                font-size: var(--fontSizeS);
            }
            INPUT {
                display: block;
                width: 100%;
                border: none;
                padding: 0.5rem 1rem;
                margin-bottom: 1rem;
                background: var(--bgColor);
            }
            INPUT:focus {
                outline: none;
                background: var(--bgOff);
            }
            INPUT::placeholder {
                color: var(--textColor);
            }
            BUTTON {
                width: 100%;
            }
        }
    }
}
//!CONTACT SECTION--OVER
//! ******************************************************************** *//
//!FOOTER-- START
FOOTER {
    position: relative;
    @include flexDirection(column, center, center);
    width: 100%;
    height: auto;
    background: var(--firstColor);
    color: var(--textContrastColor);
    text-align: center;
    padding: 4rem 0;
    .title_footer {
        height: auto;
        width: auto;
        margin-bottom: 2rem;
        color: var(--textContrastColor);
    }
    .logos_container {
        @include flexDirection(row, center, center);

        width: var(--widthClamp);
        height: auto;
        padding: 1rem;
        margin-bottom: 4rem;
        .tech_logo_container {
            @include flex(center, center);
            width: 8rem;
            height: auto;
            cursor: pointer;

            #coffee_mug_icon_svg {
                transform: scale(0.8);
            }
        }
        .plus_sign {
            @include flex(center, center);
            font-size: 3rem;
            text-align: center;
            color: var(--textContrastColor);
        }
        .tech_logo_container:hover,
        .tech_logo_container:focus,
        .tech_logo_container:active {
            animation: zoom 1000ms ease-out;
        }
    }
    #footer_btns_container {
        @include flexDirection(row, center, center);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 1rem 1rem 0 0;
        padding: 0.5rem 2rem;
        background: var(--bgColor);
        .btn_link {
            color: var(--textColor);
            text-decoration: none;
            transition: color 200ms ease;
        }
        .btn_link:hover {
            color: var(--secondColor);
        }
    }
}
//!FOOTER-- OVER
//! ******************************************************************** *//

//*SWIPER LEFT CONTAINER--START
.animation_left {
    opacity: 0;
    transform: translateX(-50%);
    transition: all 1000ms ease;
}
//*SWIPER LEFT CONTAINER--OVER
//* ************************************************************************** *//
//*SWIPER RIGHT CONTAINER--START
.animation_right {
    opacity: 0;
    transform: translateX(50%);
    transition: all 1000ms ease;
}
//*SWIPER RIGHT CONTAINER--OVER
//* ************************************************************************** *//
//*SWIPER UP CONTAINER--START
.animation_up,
.card_up,
.title_footer,
.title_section {
    opacity: 0;
    transform: translateY(4rem);
    transition: all 1000ms ease;
}
//*SWIPER UP CONTAINER--OVER
//* ************************************************************************** *//

//*SWIPER DOWN CONTAINER--START
#legal_modal,
#storage_alert_modal,
#contact_modal {
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 1000ms ease;
}
//*SWIPER DOWN CONTAINER--OVER
