//! GENERALS

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//^ ANIMATIONS
@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes bounce {
    50% {
        transform: translateY(-50%);
    }
}
@keyframes bounceDown {
    50% {
        transform: translate(-50%, 1rem);
    }
}
@keyframes zoom {
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes beat {
    10% {
        transform: translate(-50%, -50%) scale(1.3);
    }
    25% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    35% {
        transform: translate(-50%, -50%) scale(1.4);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes spin {
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes textAnimation {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.up_animation {
    animation: textAnimation 3800ms ease-in-out forwards;
}
//^ MIXINS
@mixin flex($jc, $ai) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}
@mixin flexDirection($dir, $jc, $ai) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $ai;
}

//^ ROOT
:root {
    //!GENERAL COLORS START
    --midGray: hsl(0, 0%, 65%);
    --darkGray: hsl(0, 0%, 30%);
    --lightGrey: hsl(0, 0%, 20%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(100, 100%, 100%);
    --blackOff: hsl(0, 0%, 15%);
    --whiteOff: hsl(0, 0%, 85%);
    //!GENERAL COLORS OVER
    //! ******************************************************************************************************************************/
    //!FONTS START
    --titanimFont: "Titillium Web", sans-serif;
    //!FONTS OVER
    //! ******************************************************************************************************************************/
    //!Z INDEX COUNT--START
    --zIndexStart: 1;
    --zIndexHover: 5;
    --zIndexNav: 10;
    --zIndexMenu: 15;
    --zIndexTooltip: 20;
    --zIndexFull: 25;
    --zIndexAlert: 100;
    //!Z INDEX COUNT-- OVER
    //! *********************************************************************************************************************** *//
    //! FONT SIZES--START
    --fontSizeXs: 0.8rem;
    --fontSizeS: 1.2rem;
    --fontSizeM: 1.5rem;
    --fontSizeX: 1.8rem;
    --fontSizeSClamp: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.8rem);
    --fontSizeMClamp: clamp(2rem, calc(1.5rem + 0.5vw), 2.2rem);
    --fontSizeXClamp: clamp(2.5rem, calc(1.5rem + 1.5vw), 4rem);
    //! FONT SIZES--OVER
    //! *********************************************************************************************************************** *//
    //! FONT WEIGHT--START
    --fontWeightN: 400;
    --fontWeightB: 600;
    --fontWeightBB: 700;
    //! FONT WEIGHT--OVER
    //! *********************************************************************************************************************** *//
    //!BORDER--START
    --border: solid 0.2rem;
    --borderMenu: solid 0.3rem;
    --borderRadius: 0.25rem;
    --borderBtnRadius: 3rem;
    //!BORDER--OVER
    //! *********************************************************************************************************************** *//
    //!CLAMP WINDOW WIDTH--START
    --widthClamp: clamp(300px, 1500px, 90%);
    //!CLAMP WINDOW WIDTH--OVER
    //! *********************************************************************************************************************** *//
    //!NAVBAR HEIGHTS--START
    --navbarHeightFixed: 6rem;
    --navbarHeight: 10rem;
    --fullscreenFixedHeight: calc(100vh - var(--navbarHeightFixed));
    //!NAVBAR HEIGHTS--OVER
    //! *********************************************************************************************************************** *//
    //!CARDS DIMENTIONS--START
    --cardProjectWidth: clamp(220px, 30rem, 90%);
    --cardServiceWidthOne: 100%;
    --cardServiceWidthMore: 20rem;
    --cardServiceHeight: 30rem;
    //!CARDS DIMENTIONS--OVER
    //! *********************************************************************************************************************** *//

    //!TRANSITIONS--START
    --transitionUF: all 250ms ease;
    --transitionFast: all 500ms ease;
    --transitionMid: all 750ms ease;
    --transitionSlow: all 1000ms ease;
    //!TRANSITIONS--OVER
    //! *********************************************************************************************************************** *//
    //!GENERAL START
    --fontSize: 14px;
    --opacityBtn: 0.5;
    font-size: var(--fontSize);
    line-break: loose;
    font-family: var(--titanimFont);
    letter-spacing: 0.1rem;
    scroll-behavior: smooth;
    //!GENERAL OVER
    //! ******************************************************************************************************************************/
}

//^ THEMES
//& LIGHT THEME
.light_theme {
    //~ THEME COLORS
    --firstColor: hsl(260, 85%, 25%);
    --firstColorHover: hsl(260, 85%, 15%);
    --secondColor: hsl(195, 85%, 60%);
    --secondColorHover: hsl(195, 63%, 48%);

    --textColor: hsl(0, 0%, 10%);
    --textContrastColor: hsl(0, 0%, 90%);
    --navbarColor: hsl(0, 0%, 95%);
    --navbarColorTransparent: hsla(0, 0%, 95%, 0.75);
    --tooltipColor: hsl(0, 0%, 5%);
    --bgColor: hsl(0, 0%, 90%);

    --bgContrast: hsl(0, 0%, 10%);
    --bgOff: hsl(0, 0%, 80%);
    --bgModal: hsla(0, 0%, 90%, 0.75);
    --vueIconText: hsl(0, 0%, 20%);

    //~ GENERALS
    color: var(--textColor);

    //~ SECTION BACKGROUNDS--START
    --backgroundHero: linear-gradient(transparent, var(--bgColor) 75%), url("../img/backgrounds/day.jpg") center no-repeat fixed;
    --bgHeaderSectionAbout: linear-gradient(var(--bgColor), transparent, var(--bgColor) 85%), url("../img/backgrounds/fondoBasket.png") center no-repeat fixed;
    --bgHeaderSectionServices: linear-gradient(var(--bgColor), transparent, var(--bgColor) 85%), url("../img/backgrounds/office-932926_1920.jpg") center no-repeat fixed;
    --bgHeaderSectionPortfolio: linear-gradient(var(--bgColor), transparent, var(--bgColor) 85%), url("../img/backgrounds/sunglasses-1284392_1920.jpg") center no-repeat fixed;
    --bgHeaderSectionSkills: linear-gradient(var(--bgColor), hsla(0, 0%, 100%, 0.5), var(--bgColor)), url("../img/backgrounds/pexels-julia-m-cameron-4144097.jpg") center no-repeat fixed;
    --bgHeaderSectionContact: linear-gradient(var(--bgColor), hsla(0, 0%, 100%, 0.5), var(--bgColor)), url("../img/backgrounds/pexels-alex-andrews-821754.jpg") center no-repeat fixed;

    //~ LOGOS SPECIFIC COLOR
    .charly_y_sebas_icon_svg {
        .cls-1 {
            fill: #363760;
        }
        .cls-2 {
            fill: #1f1429;
        }
        .cls-3 {
            fill: #d3443f;
        }
        .cls-4 {
            fill: #57a8c9;
        }
        .cls-5 {
            fill: #e8bc2b;
        }
        .cls-6 {
            fill: #fff;
        }
    }

    .leiru_icon_svg {
        #brand,
        #brand-append {
            .cls-1 {
                fill: hsl(134, 74%, 36%);
            }
        }
        #text {
            fill: var(--textColor);
        }
    }
}

//& DARK THEME
.dark_theme {
    //~THEME COLORS START
    --firstColor: hsl(190, 100%, 40%);
    --firstColorHover: hsl(190, 100%, 30%);
    --secondColor: hsl(240, 55%, 60%);
    --secondColorHover: hsl(240, 55%, 40%);
    --textColor: hsl(0, 0%, 90%);
    --textContrastColor: hsl(0, 0%, 10%);
    --navbarColor: hsl(0, 0%, 5%);
    --navbarColorTransparent: hsla(0, 0%, 5%, 0.75);

    --tooltipColor: hsl(0, 0%, 95%);
    --bgColor: hsl(0, 0%, 10%);

    --bgContrast: hsl(0, 0%, 90%);
    --bgOff: hsl(0, 0%, 20%);
    --bgModal: hsla(0, 0%, 10%, 0.75);
    --vueIconText: hsl(0, 0%, 80%);
    //~GENERALS
    color: var(--textColor);

    //~SECTION BACKGROUNDS
    --backgroundHero: linear-gradient(transparent, var(--bgColor) 90%), url("../img/backgrounds/night.jpg") center no-repeat fixed;
    --bgHeaderSectionAbout: linear-gradient(var(--bgColor) 10%, transparent, var(--bgColor) 90%), url("../img/backgrounds/graffiti-background-1554703550MY5.jpg") center no-repeat fixed;
    --bgHeaderSectionServices: linear-gradient(var(--bgColor) 10%, transparent, var(--bgColor) 90%), url("../img/backgrounds/pexels-ovan-57690.jpg") center no-repeat fixed;
    --bgHeaderSectionPortfolio: linear-gradient(var(--bgColor) 10%, transparent, var(--bgColor) 90%), url("../img/backgrounds/workspace-1280538_1920.jpg") center no-repeat fixed;
    --bgHeaderSectionSkills: linear-gradient(var(--bgColor) 10%, hsla(0, 0%, 0%, 0.5), var(--bgColor) 90%), url("../img/backgrounds/tools-1083796_1920.jpg") center no-repeat fixed;

    --bgHeaderSectionContact: linear-gradient(var(--bgColor) 10%, hsla(0, 0%, 0%, 0.5), var(--bgColor) 90%), url("../img/backgrounds/post-letter-2828146_1920.jpg") center no-repeat fixed;

    //~LOGOS SPECIFIC COLOR
    .charly_y_sebas_icon_svg {
        .cls-1 {
            fill: #363760;
        }
        .cls-2 {
            fill: #fff;
        }
        .cls-3 {
            fill: #d3443f;
        }
        .cls-4 {
            fill: #57a8c9;
        }
        .cls-5 {
            fill: #e8bc2b;
        }
        .cls-6 {
            fill: #5b5b8c;
        }
    }
    .leiru_icon_svg {
        #brand,
        #brand-append {
            .cls-1 {
                fill: var(--textColor);
            }
        }
    }
}

//^ BODY
body {
    position: relative;
    background: var(--bgColor);
    scroll-behavior: smooth;

    //^ GENERAL ICONS COLORS
    .close_icon_svg,
    .theme_icon_svg {
        .cls-1 {
            fill: var(--firstColor);
        }
    }
    .close_icon_svg {
        transform: scale(0.7);
    }
    .coffee_mug_icon_svg {
        .cls-1 {
            fill: #999;
        }
        .cls-2 {
            fill: #f2f2f2;
        }
        .cls-3 {
            fill: #f2f2f2;
        }
        .cls-4 {
            fill: #42210b;
        }
        .cls-5 {
            fill: #c69c6d;
        }
    }
    .conection_icon_svg {
        .cls-1,
        .cls-2 {
            fill: var(--firstColor);
        }
        .cls-2 {
            fill-rule: evenodd;
        }
    }
    .nav_menu_icon_svg {
        .cls-1 {
            fill: var(--textColor);
        }
    }

    //^ CLIENTS LOGO COLORS
    .impulso_icon_svg {
        .cls-1 {
            fill: #c01918;
        }
        .cls-2 {
            fill: var(--textColor);
        }
    }
    .verona_icon_svg {
        .cls-1 {
            fill: hsl(53, 84%, 38%);
        }
        .cls-2 {
            fill: var(--textColor);
        }
        .cls-3 {
            fill: hsl(357, 91%, 45%);
        }
        .cls-4 {
            fill: #ffffff;
        }
    }
    .gorgona_icon_svg {
        .cls-1,
        .cls-2 {
            fill: hsl(32, 55%, 66%);
        }
        .cls-2 {
            fill-rule: evenodd;
        }
    }
    .bucefalos_icon_svg {
        .cls-1 {
            fill: var(--textColor);
        }
        .cls-2 {
            fill: #b77e0b;
        }
    }
    .krazy_icon_svg {
        .cls-1 {
            fill: #e10b17;
        }
        .cls-2 {
            fill: #fff;
        }
        .cls-3 {
            fill: #000;
        }
        .cls-4 {
            fill: var(--textColor);
        }
    }
    .camaleonica_icon_svg {
        height: 100%;
        width: auto;
        .cls-1 {
            fill: #633188;
        }
        .cls-2 {
            fill: #d1709b;
        }
        .cls-3 {
            fill: #f3a7c6;
        }
        .cls-4 {
            fill: #6ec6d8;
        }
        .cls-5 {
            fill: #fff;
        }
        .cls-6 {
            fill: #000001;
        }
    }
    .leiru_icon_svg {
        #polygon {
            fill: hsl(134, 74%, 36%);
        }
        #text {
            .cls-2 {
                fill: #fff;
            }
        }
    }
    .hermed_icon_svg {
        .cls-1,
        .cls-8 {
            fill: #f1c4dc;
        }
        .cls-1,
        .cls-11 {
            stroke: #996884;
        }
        .cls-1,
        .cls-11,
        .cls-14,
        .cls-15,
        .cls-19,
        .cls-3,
        .cls-6,
        .cls-9 {
            stroke-miterlimit: 10;
        }
        .cls-1,
        .cls-11,
        .cls-14,
        .cls-15,
        .cls-3,
        .cls-6,
        .cls-9 {
            stroke-width: 0.05px;
        }
        .cls-2 {
            fill: #e6cd00;
        }
        .cls-14,
        .cls-3 {
            fill: #eeeded;
        }
        .cls-3,
        .cls-6 {
            stroke: #020202;
        }
        .cls-4 {
            fill: #e6b8d5;
        }
        .cls-5 {
            fill: #996884;
        }
        .cls-15,
        .cls-6 {
            fill: #fff;
        }
        .cls-7 {
            fill: #ece3e6;
        }
        .cls-11,
        .cls-9 {
            fill: none;
        }
        .cls-9 {
            stroke: #000;
            stroke-linecap: round;
        }
        .cls-10 {
            clip-path: url(#clip-path);
        }
        .cls-12 {
            fill: #b27aa3;
        }
        .cls-13 {
            fill: #daaac9;
        }
        .cls-14,
        .cls-15 {
            stroke: #030304;
        }
        .cls-16 {
            fill: #885b49;
        }
        .cls-17 {
            clip-path: url(#clip-path-2);
        }
        .cls-18 {
            fill: #cc1976;
        }
        .cls-19 {
            fill: #cd78ac;
            stroke: #5f256b;
            stroke-width: 0.11px;
        }
    }

    //^^DESIGN ICONS COLORS
    .illustrator_icon_svg {
        .cls-1 {
            fill: #2c0d0e;
        }
        .cls-2 {
            fill: #f39719;
        }
    }
    .photoshop_icon_svg {
        .cls-1 {
            fill: #132034;
        }
        .cls-2 {
            fill: #529fd7;
        }
    }
    .inDesign_icon_svg {
        .cls-1 {
            fill: #450c21;
        }
        .cls-2 {
            fill: #e73b68;
        }
    }
    .premier_icon_svg {
        .cls-1 {
            fill: #21244d;
        }
        .cls-2 {
            fill: #9193c8;
        }
    }
    .xd_icon_svg {
        .cls-1 {
            fill: #431238;
        }
        .cls-2 {
            fill: #be74ad;
        }
    }
    .figma_icon_svg {
        .cls-1 {
            fill: #2aa3d3;
        }
        .cls-2 {
            fill: #2fa542;
        }
        .cls-3 {
            fill: #f66;
        }
        .cls-4 {
            fill: #dd3636;
        }
        .cls-5 {
            fill: #9028db;
        }
    }
    .animate_icon_svg {
        .cls-1 {
            fill: #21244d;
        }
        .cls-2,
        .cls-3 {
            fill: #9193c8;
        }
        .cls-2 {
            fill-rule: evenodd;
        }
    }
    .adobe_icon {
        transform: scale(0.8);
    }
    //^^DESIGN ICONS COLORS-- OVER
    //^^TECH ICONS COLORS--START
    .html_icon_svg {
        .cls-1 {
            fill: #e34d27;
        }
        .cls-2 {
            fill: #eb652b;
        }
        .cls-3 {
            fill: #fff;
        }
        .cls-4 {
            fill: #cdcdcc;
        }
        .cls-5 {
            fill: var(--textContrastColor);
        }
    }
    .css_icon_svg {
        .cls-1 {
            fill: #2073b5;
        }
        .cls-2 {
            fill: #51a2d9;
        }
        .cls-3 {
            fill: #fff;
        }
        .cls-4 {
            fill: #cdcdcc;
        }
        .cls-5 {
            fill: var(--textContrastColor);
        }
    }
    .js_icon_svg {
        transform: scale(0.7);
        .cls-1 {
            fill: #f7df1e;
        }
        .cls-2 {
            fill: #000;
        }
    }
    .gitHub_icon_svg {
        .cls-1 {
            fill: var(--firstColor);
        }
        .cls-2 {
            fill: var(--firstColor);
            fill-rule: evenodd;
        }
    }
    .sass_icon_svg {
        .cls-1 {
            fill: #cf649a;
        }
    }
    .vue_icon_svg {
        .cls-1 {
            fill: #41b883;
        }
        .cls-2 {
            fill: #41b883;
        }
        .cls-3 {
            fill: #35495e;
        }
    }
    .node_icon_svg {
        .cls-1 {
            fill: #689f63;
        }
        .cls-2,
        .cls-4 {
            fill: #689f63;
        }
        .cls-3 {
            fill: var(--vueIconText);
        }
        .cls-3,
        .cls-4 {
            fill-rule: evenodd;
        }
    }

    //^^TECH ICONS COLORS--OVER
    //^^SOCIAL ICONS COLORS-- START
    .wa_icon_svg,
    .fb_icon_svg,
    .behance_icon_svg,
    .contact_icon_svg {
        height: auto;
        width: 100%;
        .cls-1 {
            fill: var(--firstColor);
        }
    }
    .fb_icon_svg {
        transform: scale(0.85);
    }
    //^^SOCIAL ICONS COLORS-- OVER
}
//! ************** !//
//!  SCROLL STYLE  !//
//! ************** !//
//^
scrollbar-button,
::-webkit-scrollbar-button {
    border: solid 0.1rem var(--firstColor);
}
//^ width
::-webkit-scrollbar {
    width: 20px;
}
//^ Track
::-webkit-scrollbar-track {
    background: var(--navbarColor);
}
//^ Handle
::-webkit-scrollbar-thumb {
    background: var(--firstColor);
}
//^ Handle on hover
::-webkit-scrollbar-thumb:hover {
    filter: grayscale(1);
}

img {
    width: 100%;
}
h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
}
p {
    font-size: var(--fontSizeS);

    font-weight: var(--fontWeightN);
}
h1 {
    color: var(--firstColor);
    font-size: var(--fontSizeX);
}
h2 {
    font-size: var(--fontSizeM);
}
h3 {
    font-size: var(--fontSizeS);
}
a {
    background-color: transparent;
    text-decoration: none;
}
a:visited,
a:focus,
a:active {
    color: unset;
}
ul {
    list-style: none;
}
.tooltip {
    position: absolute;
    top: calc(100% + 1rem);
    left: 50%;
    background: var(--tooltipColor);
    padding: 1rem 0 2rem;
    border-radius: var(--borderRadius);
    z-index: var(--zIndexTooltip);
    transition: var(--transitionMid);
    width: clamp(200px, 300px, 80%);
    pointer-events: none;
    //*border: solid 2px var(--firstColor);
    h1 {
        font-size: var(--fontSizeM);
        color: var(--midGray);
    }
    p {
        color: var(--textContrastColor);
        font-size: var(--fontSizeS);
    }
}
.tooltip_hidden {
    opacity: 0;
    transform: translateY(50%);
    z-index: var(--zIndexTooltip);
    transition: var(--transitionMid);
}
.loader_container {
    position: absolute;
    left: 0;
    top: 0;
    @include flexDirection(column, center, center);
    height: 100%;
    width: 100%;
    .spinner_container {
        transition: var(--transitionSlow);
        .loading_spinner {
            display: inline-block;
            border-radius: 50%;
            border-bottom: dotted 0.5rem var(--firstColor);
            width: 5rem;
            height: 5rem;
            animation: spin 2s ease infinite forwards;
        }
        .loading_text {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: var(--fontWeightN);
            font-size: 1.5rem;
        }
    }
}
SECTION {
    min-height: var(--fullscreenFixedHeight);
    margin-bottom: 2rem;
}
.section {
    min-width: 100%;
    min-height: var(--fullscreenFixedHeight);
    overflow: hidden;
}
.section_content {
    height: 100%;
    min-width: 100%;
    .header_section {
        @include flexDirection(column, flex-start, center);
        min-height: calc(100vh - var(--navbarHeightFixed));
        width: 100%;
        background-size: cover;
    }
}
.title_section {
    @include flex(center, center);
    text-align: center;
    width: 100%;
    height: auto;
    margin: 2rem 0 2rem;
    -webkit-text-stroke: 1px var(--firstColor);
    color: transparent;
    font-size: var(--fontSizeXClamp);
}
.subtitle_section {
    @include flex(center, center);
    text-align: center;
    width: 100%;
    height: fit-content;
    width: 100%;
    margin: 2rem 0 1rem;
    color: var(--firstColor);
    font-weight: var(--fontWeightN);
    font-size: var(--fontSizeMClamp);
}
.title_subsection {
    @include flex(center, center);
    text-align: center;
    width: 100%;
    margin: 1rem 0 0.5rem;
    color: var(--textColor);
    font-weight: var(--fontWeightN);
    font-size: var(--fontSizeSClamp);
}
BUTTON {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

//! BUTTONS

.btn {
    color: var(--textColor);
    padding: 1rem 0.5rem;
    border: var(--border) + var(--firstColor);
    border-radius: var(--borderBtnRadius);
    text-align: center;
    transition: var(--transitionUF);
    h3 {
        font-weight: var(--fontWeightN);
        font-size: var(--fontSizeS);
    }
    &:hover,
    :active,
    :focus {
        color: var(--textContrastColor);
        background: var(--firstColor);
    }
}
.more_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: transparent;
    color: var(--textColor);
    border: var(--firstColorHover) 0.25rem solid;
    font-weight: var(--fontWeightB);
    font-size: var(--fontSizeS);

    &:hover,
    :focus,
    :active {
        background: var(--firstColor);
        color: var(--textContrastColor);
    }
}
.btn_lebel {
    font-size: var(--fontSizeS);
    font-weight: var(--fontWeightN);
}

.btn_theme,
.close_btn {
    @include flex(center, center);
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    transition: var(--transitionUF);
}

.btn_section_active {
    background: var(--firstColor);
    color: var(--textContrastColor);
    .btn_lebel {
        color: var(--textContrastColor);
    }
    .nav_menu_icon_svg {
        .cls-1 {
            fill: var(--textContrastColor);
        }
    }
}

.btn_link {
    width: fit-content;
    font-size: var(--fontSizeS);
    font-weight: var(--fontWeightN);
    text-align: center;
    .footer_menu_icon_svg {
        width: 1.75rem;
        height: 100%;
        .cls-1 {
            fill: var(--textColor);
        }
    }
}

//!MODALS
.modal {
    @include flexDirection(column, flex-start, flex-start);
    position: fixed;
    top: 2rem;
    left: 50%;
    height: fit-content;
    z-index: var(--zIndexFull);
    background: var(--navbarColor);
    width: clamp(300px, 800px, 90%);
    padding: 1rem 1.5rem 2rem;
    .close_btn {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0.5rem;
        &:hover,
        :focus,
        :active {
            background: var(--firstColor);

            .close_icon_svg {
                .cls-1 {
                    fill: var(--textContrastColor);
                }
            }
        }
    }

    .modal_info {
        width: 100%;
        height: fit-content;
        margin-bottom: 1rem;
    }
    .modal_form {
        width: 100%;
        height: auto;
        LABEL {
            @include flex(flex-start, center);
            display: block;
            width: 100%;
            padding: 0.5rem 0;
            font-weight: var(--fontWeightB);
            font-size: var(--fontSizeS);
        }
        INPUT {
            display: block;
            width: 100%;
            border: none;
            padding: 0.5rem 1rem;
            margin-bottom: 1rem;
            background: var(--bgColor);
        }
        INPUT:focus {
            outline: none;
            background: var(--bgOff);
        }
        INPUT::placeholder {
            color: var(--textColor);
        }
        BUTTON {
            width: 100%;
        }
    }
}

#legal_modal {
    max-height: 90vh;
    display: none;
    .modal_header {
        padding: 2rem 0;
    }
    .modal_info {
        overflow: auto;
        scroll-behavior: smooth;
        .btn_container {
            margin-top: 2rem;
            width: 100%;
            @include flex(center, center);
        }
        .more_btn {
            width: var(--widthClamp);
        }
    }
}

#contact_modal {
    display: none;
}

.alert_modal {
    position: fixed;
    top: 0;
    left: 0;
    height: fit-content;
    z-index: var(--zIndexAlert);
    background: var(--whiteOff);
    width: 100%;
    height: fit-content;
    box-shadow: 2px 2px 0.5rem var(--midGray);
    .close_btn {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0.5rem;
        &:hover,
        :focus,
        :active {
            background: var(--firstColor);

            .close_icon_svg {
                .cls-1 {
                    fill: var(--textContrastColor);
                }
            }
        }
    }
}

#storage_alert_modal {
    @include flexDirection(column, flex-start, center);
    .modal_info {
        padding: 1rem 1rem 0;
        color: var(--blackOff);
        .title_modal {
            text-align: center;
            margin-bottom: 1rem;
        }
    }
    .btn_container {
        @include flex(center, center);
        width: 100%;
        height: auto;
        .btn_link {
            padding: 0.5rem;
            text-decoration: underline;
        }
    }
    .more_btn {
        width: var(--widthClamp);
        margin: 1rem 0;
    }
}

//! MENUS
#menu_social_container {
    position: fixed;
    @include flexDirection(column, flex-start, center);
    gap: 1rem;
    top: 2rem;
    left: 2rem;
    height: auto;
    width: 3rem;
    z-index: var(--zIndexMenu);

    #menu_social_btn {
        background: var(--navbarColor);
        border-radius: var(--borderRadius);
        padding: 0.75rem;
        width: 100%;
        height: auto;
        .social_icon_svg {
            pointer-events: none;
            transition: var(--transitionUF);
        }

        &:hover,
        :focus {
            .social_icon_svg {
                transform: scale(1.2);
            }
        }
        &:active {
            background: var(--firstColor);
            .social_icon_svg {
                .cls-1 {
                    fill: var(--textContrastColor);
                }
                .cls-2 {
                    fill: var(--textContrastColor);
                }
            }
        }
    }

    .menu_social_btns_container {
        height: fit-content;
        width: 3rem;
        background: var(--navbarColor);
        border-radius: var(--borderRadius);
        overflow: hidden;
        opacity: 0;
        transition: var(--transitionMid);
    }
    A {
        height: 100%;
        width: auto;
    }

    .btn_menu_social {
        height: auto;
        width: 100%;
        padding: 0.75rem;
        transition: var(--transitionUF);
        .social_icon_svg {
            height: auto;
            width: 100%;
        }

        &:hover,
        :focus {
            transform: scale(1.2);
        }
        &:active {
            background: var(--firstColor);
            .social_icon_svg {
                .cls-1 {
                    fill: var(--textContrastColor);
                }
            }
        }
    }
}

#menu_container {
    position: fixed;
    @include flexDirection(column, center, center);
    top: 0;
    left: 0;
    background: var(--navbarColor);
    width: 100%;
    height: auto;
    z-index: var(--zIndexMenu);
    transform: translateY(-100%);
    opacity: 0;
    transition: var(--transitionMid);
    //^^ *************************************************************** *//
    //^^ GENERAL BTN CONFIG--START
    .btn_menu {
        @include flex(center, center);
        width: 100%;
        height: auto;
        transition: var(--transitionUF);
        color: var(--textColor);
    }
    //^^ GENERAL BTN CONFIG--OVER
    //^^ *************************************************************** *//
    //!! GENERAL CONTAINER CONFIGURATION--START
    #extra_btns_container,
    #social_btns_container {
        @include flexDirection(row, space-between, center);
        width: var(--widthClamp);
    }
    //^^SOCIAL BTNS CONTAINER--START
    #social_btns_container {
        height: 3rem;
        width: 100%;
        .btn_menu_social {
            height: 3rem;
            width: auto;
            padding: 0.75rem 0;
            .social_icon_svg {
                height: 100%;
                width: auto;
                transition: var(--transitionUF);
            }

            &:hover,
            :focus {
                transform: scale(1.3);
            }
            &:active {
                background: var(--firstColor);
                .social_icon_svg {
                    .cls-1 {
                        fill: var(--textContrastColor);
                    }
                    .cls-2 {
                        fill: var(--firstColor);
                    }
                }
            }
        }
    }
    #social_btns_container > * {
        flex-basis: 100%;
    }
    //^^SOCIAL BTNS CONTAINER--OVER
    //^^ ****************************************************** *//
    //^^SECTIONS BTNS CONTAINER--START
    #sections_btns_container {
        @include flexDirection(column, flex-start, center);
        width: 100%;
        .btn_menu_section {
            padding: 0.75rem 0;
            border-top: solid 0.25rem transparent;
            border-bottom: solid 0.25rem transparent;
            &:hover,
            :focus {
                border-color: var(--firstColor);
            }
        }
    }
    //^^SECTIONS BTNS CONTAINER--OVER
    //^^ ****************************************************** *//
    //^^EXTRA BTNS CONTAINER--START
    #extra_btns_container {
        height: auto;
        .extra_btn_menu {
            @include flex(center, center);
            transition: var(--transitionUF);
        }
        .extra_btn_menu:hover,
        .extra_btn_menu:focus,
        .extra_btn_menu_active {
            background: var(--firstColor);
            .close_icon_svg,
            .theme_icon_svg {
                .cls-1 {
                    fill: var(--textContrastColor);
                }
            }
        }
    }
    //^^EXTRA BTNS CONTAINER--OVER
    //^^ *************************************************************** *//
    //!! GENERAL CONTAINER CONFIGURATION--OVER
    //!!  *************************************************************** *//
}

//!NAV
.nav {
    position: sticky;
    @include flex(center, center);
    top: 0;
    left: 0;
    height: var(--navbarHeight);
    width: 100%;
    background: var(--navbarColor);
    z-index: var(--zIndexNav);
    transition: var(--transitionUF);
    .nav_content {
        height: 100%;
        width: var(--widthClamp);

        @include flexDirection(row, space-between, center);
        #logo_nav_btn {
            @include flex(center, center);
            height: 100%;
            padding: 0 0.5rem;
            transition: var(--transitionMid);
            //*LOGO COLORS START
            #johnK_icon_svg {
                width: auto;

                height: 100%;

                .cls-1 {
                    fill: var(--secondColor);
                }
                .cls-2 {
                    fill: var(--firstColor);
                }
                .cls-3 {
                    fill: var(--midGray);
                }
            }
            //*LOGO LOGO OVER

            &:hover,
            :focus,
            :active {
                animation: zoom 1s ease;
            }
        }
        #btn_menu_slider {
            @include flexDirection(column, center, center);
            display: none;
            width: 7rem;
            height: 100%;
            color: var(--textColor);
            .btn_menu_text {
                font-size: var(--fontSizeS);
                font-weight: var(--fontWeightB);
            }
            #menu_btn {
                @include flexDirection(column, space-around, center);
                width: 3rem;
                height: 3rem;
                border: var(--borderMenu) + var(--midGray);

                .bar_btn {
                    height: 0.2rem;
                    background: var(--firstColor);
                    transition: var(--transitionSlow);
                }

                #center_bar_btn {
                    width: 5rem;
                }
                #top_bar_btn,
                #bottom_bar_btn {
                    width: 4rem;
                }
            }

            &:hover,
            :focus,
            :active {
                #menu_btn {
                    #top_bar_btn,
                    #center_bar_btn,
                    #bottom_bar_btn {
                        width: 2rem;
                    }

                    transition: var(--transitionUF);
                    transform: scale(0.9);
                }
            }
        }
        #nav_sections_btns_container {
            @include flexDirection(row, space-between, center);
            flex-wrap: wrap;
            width: auto;
            height: 100%;
            .btn_nav {
                @include flex(center, center);
                height: 100%;
                width: auto;
                padding: 0 1.5rem;
                border-top: solid 5px transparent;
                color: var(--textColor);

                .nav_menu_icon_svg {
                    width: 3rem;
                    padding: 0 0.5rem;
                }
                &:hover,
                :focus,
                :active {
                    border-color: var(--firstColor);
                    background: var(--firstColorHover);
                    .contact_icon_svg,
                    .theme_icon_svg {
                        .cls-1 {
                            fill: var(--textContrastColor);
                        }
                        .cls-2 {
                            fill: var(--textContrastColor);
                        }
                    }
                    .nav_menu_icon_svg {
                        .cls-1 {
                            fill: var(--textContrastColor);
                        }
                        .cls-2 {
                            fill: var(--textContrastColor);
                        }
                    }
                    .btn_lebel {
                        color: var(--textContrastColor);
                    }
                }
            }
            .contact_btn,
            .btn_theme {
                width: 3rem;
                padding: 0 0.5rem;
            }
        }
    }
}

//! SECTIONS
#hero_section {
    @include flex(center, center);
    position: relative;

    min-height: calc(100vh - var(--navbarHeight));
    background: var(--backgroundHero);
    background-size: cover;
    #hero_content {
        @include flexDirection(column, center, center);
        user-select: none;
        width: var(--widthClamp);
        #hero_title {
            display: flex;
            flex-direction: column;
            .title_salute {
                font-size: clamp(2rem, calc(1.5rem + 3vw), 4rem);
                color: var(--secondColor);
                margin: 0;
            }
            .title_word {
                font-size: clamp(2rem, calc(1.5rem + 3vw), 4rem);
                margin: 0;
                //*line-height: calc(var(--fontSize) + (var(--fontSize) * 3));
                text-align: center;
                color: var(--firstColor);
            }
            #title_effect {
                animation: blink 500ms 0s infinite alternate;
                color: var(--secondColor);
            }
        }
        #hero_subtitle {
            color: var(--textColor);
            font-size: clamp(1rem, calc(1rem + 0.5vw), 3rem);
            //*text-align: center;
            .accent_text {
                color: var(--secondColor);
            }
        }

        #hero_btns_container {
            @include flexDirection(row, center, center);
            gap: 2.5rem;
            margin-top: 2rem;
            width: 100%;
            height: auto;
            .btn {
                width: 100%;
            }
        }
        #hero_btns_container > * {
            flex-basis: 100%;
        }
        .btn_down {
            position: absolute;
            @include flexDirection(column, center, center);
            bottom: 2rem;
            left: 50%;
            width: 8rem;
            height: 6rem;
            opacity: var(--opacityBtn);
            animation: bounceDown 1s ease infinite;
            transform: translateX(-50%);
            color: var(--textColor);
            cursor: pointer;
            transition: var(--transitionMid);
            #arrow_down_svg {
                margin-top: 0.5rem;
                width: 2rem;
                .cls-1 {
                    fill: var(--firstColor);
                    fill-rule: evenodd;
                }
            }
            a {
                height: 100%;
                width: 100%;
            }
            &:hover,
            :focus,
            :active {
                opacity: 1;
            }
        }
    }
}

#about_section {
    @include flexDirection(column, flex-start, center);
    #about_content {
        #header_section_about {
            background: var(--bgHeaderSectionAbout);
        }
    }
}

.sliders_container {
    position: relative;
    width: 100%;
    height: calc(100vh - var(--navbarHeightFixed) - 8rem);
    overflow: hidden;
    .slider_window_container {
        @include flexDirection(row, flex-start, flex-start);
        height: 100%;
        transition: var(--transitionUF);
    }
    .slider_container {
        @include flex(center, center);
        width: 100%;
        height: 100%;
        overflow: hidden;

        #slider_1_content,
        #slider_3_content,
        #slider_5_content,
        #slider_7_content {
            @include flexDirection(row, space-around, center);
        }
        #slider_2_content,
        #slider_4_content,
        #slider_6_content,
        #slider_8_content {
            @include flexDirection(row-reverse, space-around, center);
        }
        .slider_content {
            height: 100%;
            width: var(--widthClamp);
            gap: 2rem;
            .img_container,
            .info_container {
                padding: 0 2rem;
            }
            .img_container {
                position: relative;
                @include flex(center, center);
                height: 100%;
                width: 100%;
                z-index: -1;
                IMAGE,
                SVG {
                    height: 100%;
                    width: auto;
                }
                .illustration_mine {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                }
            }
            .info_container {
                @include flexDirection(column, flex-start, center);
                height: auto;
                width: 100%;
                background: var(--navbarColorTransparent);
                border-radius: var(--borderRadius);
                .slider_card_info {
                    height: fit-content;
                    width: 100%;
                    .slider_title {
                        width: 100%;
                        padding: 1rem 0;
                    }
                    .slider_info {
                        width: 100%;
                    }
                    .btn {
                        margin-top: 1rem;
                        width: 100%;
                        z-index: var(--zIndexMenu);
                    }
                }
            }
        }
        .slider_content > * {
            flex-basis: 100%;
        }
        //^^ILLUSTRATION ANIMATIONS
        //&&PLANET SPIN--START
        .web_planet_img {
            animation: spin 300s linear infinite;
        }
        //&&PLANET SPIN--OVER
        //&& **************************************************************************** *//
        //^^ILLUSTRATION ANIMATIONS
        //^^ **************************************************************************** *//
    }
    .slider_page_markers_container {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
        @include flexDirection(row, center, center);
        gap: 1rem;
        padding: 1rem;
        background: var(--navbarColorTransparent);
        border-radius: nav(--borderRadius);
    }
    .btn_swipe_container {
        position: absolute;
        @include flex(center, center);
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        width: 4rem;
        padding: 0 1rem;
        .btn_swipe {
            cursor: pointer;
            width: 2rem;
            height: 6rem;
            .arrow_icon_svg {
                .cls-1 {
                    transition: var(--transitionFast);
                    fill: var(--firstColor);
                }
            }
        }

        &:hover {
            .btn_swipe {
                .arrow_icon_svg {
                    .cls-1 {
                        fill: var(--secondColor);
                    }
                }
            }
        }
    }
    .btn_swipe_container_left {
        left: 0;
    }
    .btn_swipe_container_right {
        right: 0;
    }
}

.slider_container_services {
    .img_container {
        IMG {
            width: auto;
            height: 100%;
        }
    }
}
#services_section {
    @include flexDirection(column, flex-start, center);

    .services_container {
        display: grid;
        height: fit-content;
        width: 100%;
        .service_container {
            .service_card {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .service_card_info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    //*padding: 1rem 1.5rem;
                    background: var(--navbarColor);
                    border-radius: var(--borderRadius);
                    padding: 1rem 0;
                    .service_card_title,
                    .service_card_text {
                        height: fit-content;
                        width: 100%;
                        text-align: center;
                    }
                    .service_card_title {
                        margin-bottom: 1rem;
                    }
                }
            }

            .service_card > * {
                flex-basis: 100%;
            }
            .service_card_left {
                flex-direction: row;
            }
            .service_card_right {
                flex-direction: row-reverse;
            }
        }
    }
    .services_container_one_column {
        grid-template-columns: 100%;
        height: fit-content;
        .service_card {
            width: var(--cardServiceWidthOne);
            height: var(--cardServiceHeight);
            .service_card_img {
                width: 100%;
                height: var(--cardServiceHeight);

                SVG,
                IMG {
                    width: 100%;
                    height: var(--cardServiceHeight);

                    object-fit: cover;
                    object-position: center;
                }
            }
            .service_card_info {
                justify-content: center;
                width: 100%;
                height: var(--cardServiceHeight);
            }
        }
    }
    .services_container_more_columns {
        grid-template-columns: repeat(auto-fill, 20rem);
        justify-content: center;
        height: fit-content;
        .service_card {
            width: var(--cardServiceWidthMore);
            height: var(--cardServiceHeight);
            .service_card_img {
                width: var(--cardServiceWidthMore);
                height: 12rem;
                SVG,
                IMG {
                    width: var(--cardServiceWidthMore);
                    height: auto;

                    object-fit: cover;
                    object-position: center;
                }
            }
            .service_card_info {
                justify-content: flex-start;
                height: 17rem;
                width: var(--cardServiceWidthMore);
            }
        }
    }
}
.marker_slider_btn {
    width: 1.25rem;
    height: 1.25rem;
    background: var(--secondColor);
    border-radius: 50%;
    transition: var(--transitionUF);
    cursor: pointer;

    z-index: var(--zIndexMenu);
}

#skills_section {
    @include flexDirection(column, flex-start, center);
    height: fit-content;
    #skills_content {
        #header_section_skills {
            background: var(--bgHeaderSectionSkills);
            @include flexDirection(column, flex-start, center);
        }
    }
    .skills_containers {
        @include flexDirection(row, center, flex-start);
        width: 100%;
        height: fit-content;
        .skills_container {
            width: auto;
            margin-bottom: 8rem;
            .skills_icons_container {
                @include flexDirection(row, center, flex-start);
                flex-wrap: wrap;
                padding: 1rem 2rem;
                gap: 0.5rem;
            }
            .skills_icon_container {
                position: relative;
                @include flex(center, center);
                width: 5rem;
                height: 5rem;
                transform: all 200ms ease;
                .html_icon_svg {
                    .cls-5 {
                        fill: var(--textColor);
                    }
                }
                .css_icon_svg {
                    .cls-5 {
                        fill: var(--textColor);
                    }
                }
                .gitHub_icon_svg {
                    transform: scale(0.7);
                    .cls-1 {
                        fill: var(--textColor);
                    }
                }

                &:hover,
                :active,
                :focus {
                    animation: zoom 1000ms ease-out;
                }
            }
            #node_icon_container {
                width: 8rem;
            }
        }
    }
    .skills_containers > * {
        flex-basis: 100%;
    }
}

#portfolio_section {
    @include flexDirection(column, flex-start, center);
    #portfolio_content {
        #header_section_portfolio {
            background: var(--bgHeaderSectionPortfolio);
        }
    }
    .cards_container {
        position: relative;
        overflow: hidden;
        @include flexDirection(row, center, center);
        flex-wrap: wrap;
        min-height: 30rem;
        width: var(--widthClamp);
    }
}
.project_card {
    width: var(--cardProjectWidth);
    height: 30rem;
    background: var(--firstColor);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: var(--transitionUF);
    z-index: var(--zIndexStart);
    .project_info {
        @include flexDirection(column, center, center);
        opacity: 0;
        width: 100%;
        height: 100%;
        background: var(--navbarColor) 70%;
        padding: 2rem 2.5rem;
        transition: var(--transitionMid);

        .info_project_container {
            width: 100%;
            .title {
                width: 100%;
                text-align: center;
                padding-bottom: 1rem;
            }

            .btns_flag_project_container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                text-align: flex-start;
                column-gap: 0.3rem;
                row-gap: 0.5rem;
                width: 100%;
                text-align: center;
                .tech_icon_card {
                    width: auto;
                    height: 4rem;
                }
            }
            .margin_bottom {
                margin-bottom: 1rem;
            }
        }
    }
    &:hover,
    :focus,
    :active {
        z-index: var(--zIndexHover);
        .project_info {
            opacity: 0.9;
        }
    }
}

.projects_container {
    @include flexDirection(column, flex-start, center);
    gap: 1rem;
    width: fit-content;
    height: fit-content;
    .title_project_search {
        color: var(--secondColor);
        font-size: var(--fontSizeM);
        text-align: center;
        padding: 0.5rem 0;
    }
    .project_btns_container {
        @include flexDirection(column, flex-start, center);
        width: fit-content;
        height: 3rem;
    }
}

.selection_list {
    position: relative;
    @include flexDirection(column, flex-start, center);
    text-align: center;
    font-size: var(--fontSizeM);
    color: var(--blackOff);
    height: 3rem;
    width: fit-content;
    overflow: hidden;
    user-select: none;
    transition: var(--transitionFast);
    .option_list_btn_search {
        position: relative;
        @include flex(center, center);
        text-align: center;
        padding: 0.5rem 1rem;
        color: var(--textColor);
        background: var(--navbarColor);
        height: 3rem;
        width: 100%;
        cursor: pointer;
        .open_list_btn {
            @include flex(center, center);
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            height: 3rem;
            width: 3rem;
            padding: 0.5rem;
            pointer-events: none;
            .arrow_btn_svg {
                transition: transform 500ms ease;
                .cls-1 {
                    fill: var(--textColor);
                }
            }
        }
        &:hover {
            background: var(--firstColor);
            color: var(--textContrastColor);
            .arrow_btn_svg {
                .cls-1 {
                    fill: var(--textContrastColor);
                }
            }
        }
    }
}
.option_list_btn {
    @include flex(center, center);
    text-align: center;
    padding: 0.5rem 1rem;
    color: var(--textColor);
    background: var(--navbarColor);
    min-height: 3rem;
    width: 100%;
    z-index: var(--zIndexMenu);
    cursor: pointer;
    &:hover {
        background: var(--firstColor);
        color: var(--textContrastColor);
    }
    h3 {
        pointer-events: none;
    }
}
#search_projects_container {
    height: 3rem;
    width: 100%;
    #search_project_btns_container {
        position: relative;
        z-index: var(--zIndexHover);
        width: var(--widthClamp);
        height: 3rem;
        #selection_list_type_of_projects {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            border: solid 1px var(--firstColor);
            #selection_list_search_btn {
                height: 3rem;
                border-bottom: 2px solid var(--firstColor);
            }
        }
    }
}

#clients_section {
    position: relative;
    @include flexDirection(column, flex-start, center);

    .clients_container {
        @include flexDirection(row, center, center);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
        //*padding-bottom: 4rem;
        .client_logo_container {
            @include flex(center, center);
            padding: 1rem 1.5rem;
            height: 8rem;
            width: 12.5rem;
            filter: grayscale(1);
            transition: all 0.5s ease;
            .client_icon_svg {
                width: 100%;
                height: auto;
            }

            &:hover,
            :focus,
            :active {
                position: relative;
                filter: grayscale(0);
                animation: zoom 1000ms ease-out;
            }
        }
    }
}

#contact_section {
    #contact_content {
        @include flexDirection(column, flex-start, center);
        #header_section_contact {
            position: relative;
            background: var(--bgHeaderSectionContact);
            @include flexDirection(column, flex-start, center);
            .form_info {
                @include flexDirection(column, flex-start, center);
                margin-bottom: 2rem;
                .description_contact_section {
                    width: clamp(280px, 800px, 90%);
                }
            }
            .form_container {
                @include flexDirection(column, flex-start, flex-start);
                border-radius: var(--borderRadius);
                height: fit-content;
                background: var(--navbarColor);
                width: clamp(300px, 800px, 90%);
                padding: 1rem 1.5rem 2rem;

                .contact_info {
                    width: 100%;
                    height: fit-content;
                    margin-bottom: 1rem;
                }
                .contact_form {
                    width: 100%;
                    height: auto;
                    LABEL {
                        @include flex(flex-start, center);
                        display: block;
                        width: 100%;
                        padding: 0.5rem 0;
                        font-weight: var(--fontWeightB);
                        font-size: var(--fontSizeS);
                    }
                    INPUT {
                        display: block;
                        width: 100%;
                        border: none;
                        padding: 0.5rem 1rem;
                        margin-bottom: 1rem;
                        background: var(--bgColor);
                    }
                    INPUT:focus {
                        outline: none;
                        background: var(--bgOff);
                    }
                    INPUT::placeholder {
                        color: var(--textColor);
                    }
                    BUTTON {
                        width: 100%;
                    }
                }
            }
        }
    }
}

#legals_section {
    position: relative;
    @include flexDirection(column, flex-start, center);
    width: 100%;
    min-height: fit-content;
    background: var(--firstColor);
    color: var(--textContrastColor);

    padding: 4rem 0 0;
    .title_footer {
        height: auto;
        width: auto;
        margin-bottom: 2rem;
        color: var(--textContrastColor);
    }
    .logos_container {
        @include flexDirection(row, center, center);

        width: var(--widthClamp);
        height: auto;
        padding: 1rem;
        .tech_logo_container {
            @include flex(center, center);
            width: 8rem;
            height: auto;

            .coffee_mug_icon_svg {
                transform: scale(0.8);
            }

            &:hover,
            :focus,
            :active {
                animation: zoom 1000ms ease-out;
            }
        }
        .plus_sign {
            @include flex(center, center);
            font-size: 3rem;
            text-align: center;
            color: var(--textContrastColor);
        }
    }

    #menu_legals_container {
        @include flexDirection(column, flex-start, center);
        width: 100%;
        height: fit-content;
        .subtitle_footer {
            @include flex(center, center);
            text-align: center;
            width: 100%;
            margin: 2rem 0 0.5rem;
            color: var(--textContrastColor);
            font-weight: var(--fontWeightN);
            font-size: var(--fontSizeSClamp);
        }
        #menu_legals_btns_container {
            @include flexDirection(row, center, center);
            border-radius: 1rem 1rem 0 0;
            background: var(--bgColor);
            overflow: hidden;
            height: fit-content;
            width: fit-content;
            .btn_link {
                color: var(--textColor);
                transition: color 200ms ease;
                padding: 1rem;
                &:hover,
                :active,
                :focus {
                    color: var(--textColor);
                    fill: var(--textColor);
                }
                &:hover {
                    background: var(--secondColorHover);
                }
                &:active,
                :focus {
                    background: var(--secondColor);
                }
            }
        }
        #made_container {
            @include flexDirection(row, space-between, center);
            width: 100%;
            height: fit-content;
            background: var(--secondColor);
            padding: 1rem 0;
            #made_content {
                color: var(--textColor);
                flex-wrap: wrap;
                font-weight: var(--fontWeightN);
                font-size: var(--fontSizeNClamp);
                width: var(--widthClamp);
                padding: 1rem 1.5rem;
                margin-left: 5rem;

                .link_text {
                    color: var(--firstColor);
                }
                .copyright_text {
                    color: var(--lightGrey);
                    font-size: var(--fontSizeXs);
                }
            }
            #social_btns_footer {
                @include flexDirection(row, center, center);
                color: var(--textColor);
                height: fit-content;
                padding: 1rem 1.5rem;
                .contact_card_btn {
                    height: 3rem;
                    width: 3rem;
                    padding: 0.5rem;
                    .social_icon_svg {
                        transition: var(--transitionUF);
                    }
                    &:hover {
                        .social_icon_svg {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}

//^ SWIPER UP CONTAINER
.animation_up,
.card_up,
.title_footer,
.title_section {
    opacity: 0;
    transform: translateY(4rem);
    transition: all 1000ms ease;
}

//^ SWIPER LEFT CONTAINER
.animation_left {
    opacity: 0;
    transform: translateX(-50%);
    transition: all 1000ms ease;
}

//^ SWIPER RIGHT CONTAINER
.animation_right {
    opacity: 0;
    transform: translateX(50%);
    transition: all 1000ms ease;
}

//^ SWIPER DOWN CONTAINER
//*STORAGE ALERT
#storage_alert_modal {
    transform: translateY(-50%);
    opacity: 0;
    transition: all 1000ms ease;
}

//*LEGAL AND CONTACT
#legal_modal,
#contact_modal {
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 1000ms ease;
}
